/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

/ {
    compatible = "ti,am335x-bone-black";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            model = "My custom beaglebone!";
        };
    };

    fragment@1 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            bb_custom_leds_pins: pinmux-bb-custom-leds-pins {
                pinctrl-single,pins = <
                    AM33XX_PADCONF(AM335X_PIN_GPMC_A1, PIN_OUTPUT_PULLDOWN, MUX_MODE7)
                    AM33XX_PADCONF(AM335X_PIN_MCASP0_FSR, PIN_OUTPUT_PULLDOWN, MUX_MODE7)
                    AM33XX_PADCONF(AM335X_PIN_MCASP0_AXR0, PIN_OUTPUT_PULLDOWN, MUX_MODE7)
                >;
            };
            lidar_control_pins: lidar-control-pins {
                pinctrl-single,pins = <
                    AM33XX_PADCONF(AM335X_PIN_GPMC_BEN1, PIN_OUTPUT_PULLDOWN, MUX_MODE7)
                >;
            };
            lidar_serial_pins: lidar-serial-pins {
                pinctrl-single,pins = <
                    AM33XX_PADCONF(AM335X_PIN_GPMC_WAIT0, PIN_INPUT_PULLUP, MUX_MODE6)
                    AM33XX_PADCONF(AM335X_PIN_GPMC_WPN, PIN_OUTPUT_PULLUP, MUX_MODE6)
                >;
            };
        };
    };

    fragment@2 {
        target = <&ocp>;
        __overlay__ {
            custom_leds {
                compatible = "gpio-leds";
                pinctrl-names = "default";
                pinctrl-0 = <&bb_custom_leds_pins>;

                custom_led1 {
                    label = "custom:red:user1";
                    gpios = <&gpio1 17 0>;
                    linux,default-trigger = "none";
                    default-state = "off";
                };
                custom_led2 {
                    label = "custom:red:user2";
                    gpios = <&gpio3 19 0>;
                    linux,default-trigger = "none";
                    default-state = "off";
                };
                custom_led3 {
                    label = "custom:red:user3";
                    gpios = <&gpio3 16 0>;
                    linux,default-trigger = "none";
                    default-state = "off";
                };

            };
            custom_motor {
                compatible = "gpio-leds";
                pinctrl-names = "default";
                pinctrl-0 = <&lidar_control_pins>;

                custom_motor1 {
                    label = "custom:motor:enable";
                    gpios = <&gpio1 28 0>;
                    linux,default-trigger = "none";
                    default-state = "off";
                };
            };
        };
    };

    fragment@3 {
        target = <&i2c2>;
        __overlay__ {
            ds1339: rtc@68 {
                compatible = "maxim,ds3231";
                reg = <0x68>;
            };
            ssd1306: oled@3c {
                compatible = "solomon,ssd1306fb-i2c";
                reg = <0x3c>;
                solomon,width = <128>;
                solomon,height = <64>;
                solomon,page-offset = <0>;
                solomon,segment-no-remap;
                rotation = <0>;
                fps = <25>;
                buswidth = <8>;
                debug = <0>;
            };
            mpu6050@69 {
                compatible = "invensense,mpu6050";
                reg = <0x69>;
            };

        };
    };

    fragment@4 {
        target = <&rtc>;
        __overlay__ {
            status = "disabled";
        };
    };
    fragment@5 {
        target = <&uart4>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&lidar_serial_pins>;
            status = "okay";
        };
    };
    };
};
